{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ dump(eventos) }}
    <div class="row">
       
        <div {{ react_component('calendar', {'events': 'eventos|raw'})}} class="col-4" id="calendar-holder"></div>
        <div class="col-8 text-center">
        <h1>hola mundo</h1>
        </div>
        
    </div>        
      
{% endblock %}


